<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>south</key>
	<dict>
		<key>resource</key>
		<string>south</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
	<key>east</key>
	<dict>
		<key>resource</key>
		<string>east</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
	<key>west</key>
	<dict>
		<key>resource</key>
		<string>west</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
	<key>north</key>
	<dict>
		<key>resource</key>
		<string>north</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
	<key>north-east</key>
	<dict>
		<key>resource</key>
		<string>north-east</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
	<key>south-east</key>
	<dict>
		<key>resource</key>
		<string>south-east</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
	<key>north-west</key>
	<dict>
		<key>resource</key>
		<string>north-west</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
	<key>south-west</key>
	<dict>
		<key>resource</key>
		<string>south-west</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
	<key>block</key>
	<dict>
		<key>resource</key>
		<string>block</string>
		<key>hotspot</key>
		<string>{7.0,7.0}</string>
	</dict>
</dict>
</plist>
